{
	"email": "***",
	"password": "***",
    "listeningThreads": [
    ],
    "thot": [
        "owo",
        "uwu"
    ],
    "boomer": [
    	"millenial"
    ],
    "bruh": [
        "bruh"
    ],
    "swear": [
        "frick",
        "heck",
        "darn"
    ],
    "musk": [
        "Elon Musk",
        "elonmusk",
        "elon"
    ]
]